<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias alias="Admin" type="example1.domain.Admin" />
  </typeAliases>
  <mappers>
    <mapper resource="example1/dao/admin-dao-sql.xml" />
  </mappers>
</configuration>